.component {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text {
    position: relative;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

.a {
    cursor: pointer;
}

.countrycard {
    position: fixed;
    display: flex;
    align-items: center;
    padding-right: 10%;
    margin-left: 20%;
    margin-top: 10%;
    top: 0;
    width: 40%;
    height: 60%;
    border: 1px black;
    background-color: rgb(87, 84, 117);
}



.spacebutton {
    margin-left: 100%;
}

.alignright {
    margin-left: 25%;
}
